.carteVoyageDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 30px; */
    /* width: max-content;
    height: max-content; */
    /* border: 1px solid lightgrey; */
    /* padding: 20px; */
    /* margin: 0 auto;  */

} 


/* .voyageDetailInfo {
    display: flex;
    flex-direction: column;

}  */

.carteImage {
    width: 40%;
}