.imgBanner {
    width: 100%;
    
    
}



h1 {
    position: relative;
    color: cornflowerblue;
    left: 90px;
    top: 200px;
    border-radius: 2px;
    background-color: white;
    opacity: 80%;
    width: max-content;
    padding: 20px;
    font-size: 300%;
    font-weight: bold;
    border: 1px solid white;
    
}


.btn {
    position: relative;
    left: 90px;
    top: 240px;
    background-color: cornflowerblue;
    /* border-radius: 5px; */
    box-shadow: 0px 0px 5px white;

}

.btn:hover {
    color:azure;
}